<p-panel header="Números" styleClass="mt-3">
    <div class="grid">
        <div class="col-12 md:col-4">
            <p-fieldset legend="Números">
                <ol>
                    <li><h5>Sin pipe => {{ number }}</h5></li>
                    <li><h5>| number => {{ number | number }}</h5></li>
                    <li><h5>| number:'1.1-2' => {{ number | number:'1.1-2' }}</h5></li>
                    <li><h5>| number:'1.6-6' => {{ number | number:'1.6-6' }}</h5></li>
                    <li><h5><a href="https://angular.io/api/common/DecimalPipe" target="_blank">Más info</a></h5></li>
                </ol>
            </p-fieldset>
        </div>
        <div class="col-12 md:col-4">
            <p-fieldset legend="Monedas">
                <ol>                    
                    <li><h5>Sin pipe => {{ number }}</h5></li>
                    <li><h5>| currency => {{ number | currency }}</h5></li>
                    <li><h5>| currency:'€ ' => {{ number | currency:'€ ' }}</h5></li>
                    <li><h5>| currency:'GBP':'symbol-narrow' => {{ number | currency:'GBP':'symbol-narrow' }}</h5></li>
                    <li><h5><a href="https://angular.io/api/common/CurrencyPipe" target="_blank">Más info</a></h5></li>
                </ol>
            </p-fieldset>
        </div>
        <div class="col-12 md:col-4">
            <p-fieldset legend="Porcentajes">
                <ol>                    
                    <li><h5>Sin pipe => {{ percent }}</h5></li>
                    <li><h5>| percent => {{ percent | percent }}</h5></li>
                    <li><h5>| percent:'1.2-2' => {{ percent | percent:'1.2-2' }}</h5></li>
                    <li><h5>| percent:'1.4-4' => {{ percent | percent:'1.4-4' }}</h5></li>
                    <li><h5><a href="https://angular.io/api/common/PercentPipe" target="_blank">Más info</a></h5></li>
                </ol>
            </p-fieldset>
        </div>
    </div>
</p-panel>